div#TBR
{
    color:green;
}

div#R
{
    color:red;
}

#ACN
{
    background-color: darkgreen;
    color:white;
}

#DIN
{
    background-color: darkred;
    color:white;
}

#RIN
{
    background-color: darkblue;
    color:white;
}

#GIBN
{
    background-color: orangered;
    color:white;
}
